/* Universal selector and property of the webpage */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* selct the body of the html and edit its property */
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

/* sselect the div tag  and making a 2 columns */
.container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    max-width: 1500px;
    width: 100%;
    min-height: 100vh;
}

/* header tag selctor */
header {
    padding: 25px;
    margin: 25x;
    width: 100%;
    box-sizing: border-box;
}

/* main tag selector */
main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

/* select the class left ans right to add designs */
.left {
    grid-column: 1;
    padding: 1rem;
}

.right {
    grid-column: 2;
    padding: 1rem;
}

/* select the footer */
footer {
    grid-area: footer;
    padding: 0.5rem;
}