* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    max-width: 1500px;
    width: 100%;
    min-height: 100vh;
}

header {
    padding: 25px;
    margin: 25x;
    width: 100%;
    box-sizing: border-box;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.left {
    grid-column: 1;
    padding: 1rem;
}

.right {
    grid-column: 2;
    padding: 1rem;
}

footer {
    grid-area: footer;
    padding: 0.5rem;
}